<header>
    <div class="container position-fixed d-none" id="header">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about-title">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact me</a>
            </li>
        </ul>
    </div>

    <!--Hamburguer menu responsive-->
    <div class="c-responsive container">
        <div class=" navbar-collapse m-3">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="./assets/img/hamburguer.png" width="50" height="50" alt="hamburguer menu">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Home</a>
                        <a class="dropdown-item" href="#about-title">About</a>
                        <a class="dropdown-item" href="#projects">Projects</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#contact">Contact</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="d-flex social-media">
            <a href="https://www.linkedin.com/in/lara-aguerre/" target="_blank">
                <img src="./assets/img/linkedin.png" alt="logo linkedin" width="60" height="60">
            </a>
            <a href="https://github.com/Laguerre91/" target="_blank">
                <img src="./assets/img/github.png" alt="logo github" width="60" height="60">
            </a>
            <a href="mailto:aguerre.lara@gmail.com">
                <img src="./assets/img/gmail.png" alt="logo gmail" width="60" height="60">
            </a>
        </div>
    </div>
</header>