.c-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.dropdown-menu {
    background-color: rgb(251, 192, 255);
}

.social-media {
    background-color: rgba(206, 215, 43, 0.917);
    border-radius: 10px;
}




@media screen and (min-width: 768px) {

    .container {
        display: inline !important;
        width: 70%;
        height: 50px;
        left: 14.5%;
        background-color: rgba(251, 249, 252, 0.814);
        border: solid 2px rgb(5, 5, 5);
        box-shadow: 3px 3px rgba(5, 4, 5, 0.83);
        margin: 8px !important;
        z-index: 2222;
    }

    ul li a {
        color: rgb(4, 4, 4);
        font-family: 'DotGothic16', sans-serif;
        font-size: 15px;
        font-weight: 600;
    }

    ul {
        margin: 5px;
    }

    ul li {
        cursor: pointer;
    }

    li:hover {
        background-color: rgba(245, 116, 234, 0.719);
    }

    .c-responsive {
        display: none !important;
    }
}