.dropdown-menu {
    background-color: rgb(251, 192, 255);
}


@media screen and (min-width: 768px) {

    .container {
        display: inline !important;
        width: 70%;
        height: 50px;
        left: 14.5%;
        background-color: rgba(251, 249, 252, 0.814);
        border: solid 2px rgb(5, 5, 5);
        box-shadow: 2px 2px 2px 2px rgba(217, 81, 208, 0.83);
        margin: 8px !important;
        z-index: 2222;
    }

    ul li a {
        color: rgb(4, 4, 4);
        font-family: 'DotGothic16', sans-serif;
        font-size: 15px;
        font-weight: 600;
    }

    ul {
        margin: 5px;
    }

    ul li {
        cursor: pointer;
    }

    li:hover {
        background-color: rgba(245, 116, 234, 0.719);
    }

    .c-responsive {
        display: none !important;
    }
}