<div class="text-center" id="about-title" data-aos="zoom-in" data-aos-duration="800">
    <h2>About me</h2>
</div>


<div class="container-fluid" id="about">

    <!-- ******ABOUT SECTION****** -->
    <div class="row">
        <div class="col cont mt-5 m-1" data-aos="zoom-in" data-aos-duration="800">
            <section class="about text-center">
                <p>Hey there! 👋 I'm a frontend developer with a passion for cinema and music. At 31 years old, I've
                    found my calling in crafting beautiful and intuitive websites that combine form and function.

                    When I'm not busy coding, you can often find me jamming out to my favorite tunes or catching up on
                    the latest films. I love exploring the intersection of design and technology, and strive to create
                    unique user experiences that are both engaging and effective.

                    With my eye for detail and love of all things media, I'm excited to bring a fresh perspective to any
                    project I work on. Let's collaborate and create something amazing together!</p>
            </section>
        </div>
    </div>

    <!-- ******TECHNOLOGIES SECTION****** -->

    <div class="row">
        <div class="col cont mt-5 m-1" data-aos="zoom-in" data-aos-duration="800">
            <section class="technologies text-center">
                <h2 class="tec-title">Technologies I use</h2>
                <p>I can make awseome web designes using the classical HTML, Css and Javascript, combined with the new
                    and helpful technologies such as Angular, React and Bootstrap. <br>
                    Mobile First 👋 📱
                </p>
                <div class="d-flex tech-logos">
                    <div class="angular-logo">
                        <img class="angular logo" src="./assets/img/angular.png" alt="Angular logo">
                    </div>
                    <div class="react-logo">
                        <img class="react logo" src="./assets/img/react.png" alt="React logo">
                    </div>
                    <div class="bootstrap-logo">
                        <img class="bootstrap logo" src="./assets/img/bootstrap.png" alt="Bootstrap logo">
                    </div>
                    <div class="js-logo">
                        <img class="javascript logo" src="./assets/img/javascript.png" alt="javascript logo">
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col cont mt-5 m-1 mb-5" data-aos="zoom-in" data-aos-duration="800">
            <section class="education text-center">
                <h2>Education</h2>
                <div>
                    <h3>Technological University of Argentina (UTN)</h3>
                    <p>(2021-2022)</p>
                    <p>Html - Css - Javascript - Bootstrap - Apis - jQuery</p>
                    <img class="cert" src="./assets/img/cert1.jpeg" width="250" height="200" alt="certificado">
                    <img class="cert" src="./assets/img/cert2.jpeg" width="250" height="200" alt="certificado">
                    <img class="cert" src="./assets/img/cert3.jpeg" width="250" height="200" alt="certificado">
                    <img class="cert" src="./assets/img/cert4.jpeg" width="250" height="200" alt="certificado">
                </div>
            </section>
        </div>
    </div>
</div>