* {
    font-family: 'Bebas Neue', cursive;
}

.container-fluid {
    margin-top: 50%;
}

h2 {
    color: rgba(252, 251, 252, 0.698);
    font-size: 40px;
    text-shadow: 3px 3px 3px rgb(53, 16, 50);
}

.cont {
    border: 2px solid rgba(0, 0, 0, 0.83);
    box-shadow: 3px 5px 5px 5px rgba(116, 116, 116, 0.83);
    background-color: rgba(255, 192, 203, 0.5);
    padding: 30px;
    height: fit-content;
}

p {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 15px;
    background-color: rgb(47, 45, 45);
    border: 1px solid black;
    padding: 10px;
}

.logo {
    width: 70%;
}

.cert {
    margin: 2%;
}


@media screen and (min-width: 768px) {
    .container-fluid {
        width: 70%;
        margin-top: 15%;
    }

    p {
        font-size: 17px;
    }

    .tech-title {
        font-size: 50px;
    }

    .tech-logos img {
        width: 50%;
    }

}