* {
    font-family: 'Bebas Neue', cursive;
}


#about-title {
    margin-top: 40%;
    margin-left: 1%;
    width: 97%;
    background-color: rgba(213, 140, 236, 0.912);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(4, 3, 3, 0.83);
    padding: 5px;
}

#about-title h2 {
    color: rgb(4, 4, 4);
    text-shadow: 4px 4px 4px rgb(252, 251, 251);
    font-size: 100px;
}

h2 {
    color: rgba(0, 0, 0, 0.812);
    font-size: 40px;

}

.cont {
    background-color: rgba(251, 249, 252, 0.814);
    border: solid 2px rgb(5, 5, 5);
    border-radius: 10px;
    box-shadow: 4px 4px rgba(5, 5, 5, 0.83);
    padding: 30px;
    height: fit-content;
}

.cont-resp {
    background-color: rgb(237, 54, 54);
}

.cont-resp-2 {
    background-color: rgb(63, 63, 234);
}

p {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 15px;
    background-color: rgb(47, 45, 45);
    border: 1px solid black;
    padding: 10px;
}

.logo {
    width: 70%;
}


.logo_be {

    width: 15% !important;
}

.cert {
    margin: 2%;
}

.google-certificate {
    width: 100%;
}


@media screen and (min-width: 768px) {
    .container-fluid {
        width: 85%;
    }

    .cont-ab-resp {
        width: 80%;
    }

    .cont-tec-resp {
        margin-left: 20%;
    }

    #about-title {
        margin-top: 0;
        margin-left: 1.5%;
    }

    #about-title h2 {
        font-size: 200px;
    }

    p {
        font-size: 17px;
    }

    .tech-title {
        font-size: 50px;
    }

    .tech-logos img {
        width: 50%;
    }

}