* {
    font-family: 'Bebas Neue', cursive;
}

#about-title {
    margin-top: 40%;
    margin-left: 1%;
    width: 97%;
    border: 1px solid rgb(209, 206, 206);
    box-shadow: 3px 3px 3px 3px rgba(249, 247, 247, 0.83);
    padding: 5px;
}

#about-title h2 {
    color: rgb(211, 211, 215);
    text-shadow: 4px 4px 4px rgb(168, 15, 15);
    font-size: 100px;
}

h2 {
    color: rgba(0, 0, 0, 0.812);
    font-size: 40px;
    border: 1px solid black;

}

.cont {
    background-color: rgba(251, 249, 252, 0.814);
    border: solid 2px rgb(5, 5, 5);
    box-shadow: 2px 2px 2px 2px rgba(235, 228, 16, 0.83);
    padding: 30px;
    height: fit-content;
}

.cont-resp {
    background-color: rgb(237, 54, 54);
}

.cont-resp-2 {
    background-color: rgb(63, 63, 234);
}

p {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 15px;
    background-color: rgb(47, 45, 45);
    border: 1px solid black;
    padding: 10px;
}

.logo {
    width: 70%;
}

.cert {
    margin: 2%;
}


@media screen and (min-width: 768px) {
    .container-fluid {
        width: 85%;
    }

    .cont-ab-resp {
        width: 60%;
    }

    .cont-tec-resp {
        margin-left: 40%;
    }

    #about-title {
        margin-top: 0;
        margin-left: 1.5%;
    }

    #about-title h2 {
        font-size: 300px;
    }

    p {
        font-size: 17px;
    }

    .tech-title {
        font-size: 50px;
    }

    .tech-logos img {
        width: 50%;
    }

}