<div class="text-center" id="projects-title" data-aos="zoom-in" data-aos-duration="800">
    <h2>Projects</h2>
</div>

<div class="container text-center">
    <div class="row projects_container">
        <div class="card">
            <img src="./assets/img/weather-app.png" class="card-img-top" alt="Weather App">
            <div class="card-body">
                <h4>Weather App</h4>
                <p class="card-text">This is a weather app in which I learned how to make API petitions. It also has
                    interactive animations and it's completely responsive</p>
                <button class="github-btn">Github</button>
            </div>
        </div>

        <div class="card">
            <img src="./assets/img/spotify-clon.png" class="card-img-top" alt="Spotify clon">
            <div class="card-body">
                <h4>Spotify Clon</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <button class="github-btn">Github</button>
            </div>
        </div>

        <div class="card">
            <img src="./assets/img/crud-app.png" class="card-img-top" alt="Shopping list">
            <div class="card-body">
                <h4>Crud</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <button class="github-btn">Github</button>
            </div>
        </div>

        <div class="card">
            <img src="./assets/img/crypto.png" class="card-img-top" alt="Crypto app">
            <div class="card-body">
                <h4>Crypto prices</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <button class="github-btn">Github</button>
            </div>
        </div>
    </div>
</div>