#projects-title {
    margin-top: 40%;
    margin-left: 1%;
    margin-bottom: 5%;
    width: 97%;
    background-color: rgba(213, 140, 236, 0.912);
    border: 1px solid rgb(2, 2, 2);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(4, 3, 3, 0.83);
    padding: 5px;
}

#projects-title h2 {
    color: rgb(6, 6, 6);
    font-size: 100px;
}

h2 {
    color: rgba(166, 73, 176, 0.914);
    font-size: 80px;
    text-shadow: 3px 3px 3px rgb(207, 203, 207);
    font-family: 'Bebas Neue', cursive;
}

.col-cont {
    background-color: #fefefeb1;
    border: 2px solid rgba(0, 0, 0, 0.83);
    box-shadow: 3px 3px 3px rgba(226, 219, 20, 0.83);
    padding: 25px;
    height: auto;
    margin: 10px;
}

.carousel {
    margin: 10px;
    width: 95%;
    padding: 20px;
    background-color: rgb(226, 174, 213);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    padding: 60px;
}

.btn-git {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    width: 30%;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(226, 56, 245, 0.815);
    ;
    border: 1px solid white;
}

.btn-git:hover {
    background-color: rgba(63, 138, 238, 0.815);
}

.cellphone {
    margin: 10px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    color: rgba(1, 1, 1, 0.698);
    font-size: 40px;
}

p {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    background-color: rgba(47, 45, 45, 0.639);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

@media screen and (min-width: 768px) {

    .container-fluid {
        width: 60%;
    }

    .carousel {
        width: 60%;
        margin-left: 20%;
    }

    #projects-title {
        margin-top: 15%;
        margin-left: 1.5%;
        margin-bottom: 10%;
    }

    #projects-title h2 {
        font-size: 300px;
    }



    .responsive-container {
        display: flex;
        justify-content: center;
    }

}