#projects-title {
    margin-top: 40%;
    margin-left: 1%;
    margin-bottom: 5%;
    width: 97%;
    border: 1px solid rgb(209, 206, 206);
    box-shadow: 3px 3px 3px 3px rgba(249, 247, 247, 0.83);
    padding: 5px;
}

#projects-title h2 {
    color: rgb(211, 211, 215);
    text-shadow: 4px 4px 4px rgb(168, 15, 15);
    font-size: 100px;
}

h2 {
    color: rgba(166, 73, 176, 0.914);
    font-size: 80px;
    text-shadow: 3px 3px 3px rgb(207, 203, 207);
    font-family: 'Bebas Neue', cursive;
}

.col-cont {
    background-color: #fefefeb1;
    border: 2px solid rgba(0, 0, 0, 0.83);
    box-shadow: 3px 3px 3px rgba(226, 219, 20, 0.83);
    padding: 25px;
    height: auto;
    margin: 10px;
}

.cellphone {
    margin: 10px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    color: rgba(1, 1, 1, 0.698);
    font-size: 40px;
}

.computer {
    position: relative;
    right: 5%;
    width: 110%;
}

p {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    background-color: rgba(47, 45, 45, 0.639);
    border: 1px solid black;
    padding: 10px;
}

@media screen and (min-width: 768px) {

    .container-fluid {
        width: 60%;
    }

    #projects-title {
        margin-top: 15%;
        margin-left: 1.5%;
        margin-bottom: 10%;
    }

    #projects-title h2 {
        font-size: 300px;
    }



    .responsive-container {
        display: flex;
        justify-content: center;
    }

}