#projects-title {
    margin-top: 40%;
    margin-left: 1%;
    margin-bottom: 5%;
    width: 97%;
    background-color: rgba(213, 140, 236, 0.912);
    border: 1px solid rgb(2, 2, 2);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(4, 3, 3, 0.83);
    padding: 5px;
}

#projects-title h2 {
    color: rgb(6, 6, 6);
    font-size: 100px;
}

h2 {
    color: rgba(166, 73, 176, 0.914);
    font-size: 80px;
    text-shadow: 3px 3px 3px rgb(207, 203, 207);
    font-family: 'Bebas Neue', cursive;
}

.projects_container {
    width: 100%;
}

h4 {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.card {
    background-color: rgba(3, 41, 157, 0.889);
    border: solid 2px rgb(5, 5, 5);
    border-radius: 10px;
    box-shadow: 2px 2px rgba(5, 5, 5, 0.83);
    margin: 10px;
    padding: 20px;
}

.card img {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(5, 5, 5, 0.83);
}

p {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    background-color: rgba(47, 45, 45, 0.639);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.github-btn {
    font-family: 'Bebas Neue', cursive;
    color: black;
    width: 40%;
    padding: 5px;
    background-color: rgba(226, 56, 245, 0.815);
    border: 1px solid black;
    box-shadow: 2px 2px rgba(5, 5, 5, 0.83);
    border-radius: 5px;
}



@media screen and (min-width: 768px) {

    .container {
        width: 100%;
    }

    .projects_container {
        display: flex;
        justify-content: center;
        margin-left: 0.3%;
    }

    #projects-title {
        margin-top: 15%;
        margin-left: 1.5%;
        margin-bottom: 10%;
    }

    #projects-title h2 {
        font-size: 300px;
    }

    .card {
        width: 40%;
    }

    .card:hover {
        translate: 1% 1%;
    }

    .card img p {
        width: 35%;
    }

    .github-btn:hover {
        background-color: rgb(0, 81, 128);
    }

}