.workInProg {
    color: red;
}

.container-fluid {
    margin-top: 10%;
}

#contact-title {
    margin-top: 40%;
    margin-left: 1%;
    width: 97%;
    border: 1px solid rgb(5, 4, 4);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(2, 2, 2, 0.83);
    padding: 5px;
    background-color: rgba(213, 140, 236, 0.912);
}

#contact-title h2 {
    color: rgb(6, 6, 6);
    font-size: 100px;
}

.contact-form {
    border: 1px solid rgba(3, 3, 3, 0.83);
    box-shadow: 3px 3px #070707;
    padding: 25px;
    height: auto;

}

.col {
    margin: 5px;
}

.form-input {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.83);
    box-shadow: 3px 3px 3px 3px #010101;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: rgba(4, 3, 4, 0.777);
    font-size: 60px;
    text-shadow: 2px 2px 2px rgb(53, 16, 50);
}

label {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: rgb(4, 4, 4);
}

.submit-button {
    font-family: 'Bebas Neue', cursive;
    width: 40%;
    padding: 5px;
    background-color: rgba(226, 56, 245, 0.815);
    ;
}

span {
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    right: 25%;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.668);
    border-radius: 5px;
    color: red;
    padding: 5px;
}

@media screen and (min-width: 768px) {

    .container-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contact-title {
        margin-left: 1.5%;
    }

    #contact-title h2 {
        font-size: 200px;
    }

    .contact {
        width: 100%;
        display: inline;
        justify-content: center;
    }

    .contact-form {
        width: 50%;
        margin: 30px;
    }

    .submit-button {
        font-size: 20px;
    }

    .find-me {
        width: 10%;
    }

    .find-me img:hover {
        background-color: rgba(148, 233, 192, 0.917);
        border-radius: 50px;
    }
}