.container {
    margin-bottom: 15%;

}

/* ******HELLO SLIDER******* */

.slider {
    overflow: hidden;
    margin-top: 150px;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    transform: skewY(-5deg);
}

.no-margin-no-padding {
    margin: 0;
    padding: 0;
}

.slider .slide-in {
    animation: slide-in 20s linear infinite;
    width: calc(500px * 14);
}

@keyframes slide-in {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 7));
    }
}

.slider .slide {
    width: 300px;
}

.slider .slide img {
    width: 100%;
    opacity: 80%;
}

@keyframes circle-in-center {
    from {
        clip-path: circle(0%);
    }

    to {
        clip-path: circle(125%);
    }
}

/* *******MAIN TITLE********** */

.title-container {
    background-color: rgba(244, 242, 238, 0.776);
    position: relative;
    top: 130px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(3, 3, 3, 0.83);
}

h1 {
    color: rgb(3, 3, 3);
    font-family: 'Staatliches', cursive;
    font-size: 80px;
    opacity: 90%;
}

.frontend {
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    color: rgba(125, 41, 228, 0.85);
    text-shadow: 1px 1px 1px rgb(197, 194, 197);
    animation: enter-2 3s;
}

.frontend h3 {
    font-size: 30px;
}

@keyframes enter-2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 100%;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
        ;
    }
}


@media screen and (min-width: 768px) {

    .lara-photo {
        display: inline !important;
        width: 50%;
        height: 450px;

    }

    .cont-main {
        width: 50% !important;
    }

    .title-container {
        position: relative;
        top: 180px;
        height: fit-content;
    }

    h1 {
        font-size: 110px;
    }

    .social-media {
        display: inline !important;
    }

    .social-media a img:hover {
        background-color: rgb(0, 81, 128);
        border-radius: 50px;
    }
}